
.home.body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: yellow;
    color: black;
    border: 15px solid green;
    padding: 120px;
}

div.home {
    background-color:grey;
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: 60px;
    padding: 50px;
}

h1.home{
    font-size: 36px;
    font-weight: bold;
    margin: 2cm;
}

.salad.body{

}

.salad.title{

}

.salad.mini.title{

}

.salad.subtitle{

}

.salad.ingredients.list{


}

.salad.method.list{

}

.salad.storage{
    
}

.links{

}