
.home.body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: yellow;
    color: black;
    border: 15px solid green;
    padding: 120px;
}


div.home {
    background-color:grey;
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: 60px;
    padding: 50px;
}

h1.home{
    font-size: 36px;
    font-weight: bold;
    margin: 2cm;
}

.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightskyblue;
    text-align: center;
    margin: 15px solid black;
    padding: 15px;
    color: black;
}

.title{
    font-size: 36px;
    font-weight: bold;
    background-color: blanchedalmond;
}

.mini.title{
    font-size: 25px;

}

.subtitle{
    font-size: 20px;
}

.ingredients.list{
    text-align: left;

}

.method.list{
    text-align: left;

}

.storage{
    padding: 20px;
    text-align: center;

}

.links{
    background-color: white;
    text-align: left;
    padding: 20px;
    border: 10px solid black;
    width: 200px;
}

div.block{
    border: 10px solid white;
}